.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 20px;
  margin: 5px;
}

.item {
  color: red;
  font-size: 20px;

  display: flex;
  margin: 10px;
}

.item:last-child {
  margin-top: 40px;
}

.item a {
  text-decoration: none;
  color: black;
}

a.active {
  color: gold;
  font-size: 25px;
}
