* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Roboto", "Oxygen";
}

.App {
  margin: 0 auto;
  display: grid;
  width: 1200px;

  grid-template-areas:
    "h h"
    "nav cont";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
